body {
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: gray;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.parent {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}
